/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./main
 *= require_self
 */

/* --------------------------------
 *  * base
 *   * -------------------------------- */
html {
    font-size: 62.5%; }

body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif; }

*, *::before, *::after {
    box-sizing: border-box; }

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none; }

$breakpoint-mobile: 640px;
$footer-height: 50px;
$header-height: 40px;
$base-color: #2d3d54;

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

.header {
    height: $header-height;
    background-color: $base-color;

    &__menu {
        font-size: 1.7rem;
        text-align: right;
        line-height: $header-height;
        margin-right: 30px;

        &-item {
            a {
                transition: color 0.15s;
            }

            a:hover {
                color: #d03c56;
            }
        }
    }
}

.main {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

.footer {
    height: $footer-height;
    background-color: $base-color;

    &__menu {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        text-align: center;
        padding: 10px;

        &-item {
            padding: 5px 10px;
        }

        &-item + &-item {
            border-left: solid 1px #ddd;
        }
    }
}

.login {

    $form-row-height: 40px;

    margin: 130px auto;
    width: 600px;
    font-size: 1.7rem;
    border: solid 1px #ddd;
    padding: 20px;

    @include max-screen($breakpoint-mobile) {
        margin: 10px 5px;
        width: auto;
    }

    &__form {
        &-table{
            width: 100%;
        }

        &-label {
            height: $form-row-height;
            line-height: $form-row-height;
            width: 200px;

            @include max-screen($breakpoint-mobile) {
                display: block;
                width: 100%;
            }
        }

        &-input {
            height: $form-row-height;
            width: 400px;

            @include max-screen($breakpoint-mobile) {
                width: 100%;
                display: block;
            }

            input {
                width: 100%;
                padding: 7px;
                font-size: 1.5rem;

                &:focus {
                    border: 1px solid $base-color;
                    outline: none;
                }
            }
        }

        &-submit {
            width: 200px;
            margin: 10px auto;
            display: block;
            border: none;
            background-color: $base-color;
            color: white;
            border-radius: 4px;
            font-size: 1.7rem;
            padding: 5px;
        }
    }
}


.social-icon {
    border-radius: 5px 0px 0px 5px;
    color: #f4f4f4;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    font-size: 2rem;
}

.social-text {
    display: block;
    border: none;
    border-radius: 0px 5px 5px 0px;
    float: left;
    color: #f4f4f4;
    cursor: pointer;
    line-height: 40px;
    font-size: 1.5rem;
    height: 40px;
    width: 230px;
    text-align: left;
    padding-left: 10px;
}

.login {
    &__social {
        border-top: solid 1px #ddd;
        padding-top: 20px;
        text-align: center;
    }
    &__social-button {
        display: block;
        text-decoration: none;
        margin: 10px auto;
        width: 270px;
    }

    &__twitter-icon {
        @extend .social-icon;
        background-color: #189bcb;
    }

    &__twitter-text {
        @extend .social-text;
        background-color: #1bb2e9;
    }

    &__facebook-icon {
        @extend .social-icon;
        background-color: #0064ab;
    }

    &__facebook-text {
        @extend .social-text;
        background-color: #0079ce;
    }

    &__line-icon {
        @extend .social-icon;
        border-right: solid 1px #00B300;
        background-color: #00C300;
    }

    &__line-text {
        @extend .social-text;
        background-color: #00C300;
    }
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

