<ul>
  <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
</ul>

<div class="container clearfix">
  <%= form_for @user, url: account_reset_password_index_path, html: {class: 'form-horizontal'} do |f| %>
    <div class="form-block">
      <label class="label fl" for="email">Email:</label>
      <%= f.email_field :email, class: 'text-input-box fl', placeholder: 'Enter email' %>
    </div>
    <%= f.submit :submit, class: 'submit' %>
  <% end %>
</div>